body {
  font-size: 30px;
}
.parent {
  background-color: blue;
  position: relative;
  height: 200vh;
}
.child-one {
  background-color: greenyellow;
  margin-left: 5px;
  margin-right: 5px;
  position: sticky;
  top: 0;
}
.child-two {
  background-color: indianred;
  margin-left: 5px;
  margin-right: 5px;
}
.child-three {
  background-color: coral;
  margin-left: 5px;
  margin-right: 5px;
}
